.elementor-5 .elementor-element.elementor-element-0fb25d6 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
.elementor-5 .elementor-element.elementor-element-190f1da > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-5 .elementor-element.elementor-element-005cfb7 .elementor-icon-wrapper {text-align: center;}
.elementor-5 .elementor-element.elementor-element-005cfb7.elementor-view-stacked .elementor-icon {background-color: #fff;}
.elementor-5 .elementor-element.elementor-element-005cfb7.elementor-view-framed .elementor-icon, .elementor-5 .elementor-element.elementor-element-005cfb7.elementor-view-default .elementor-icon {color: #fff;border-color: #fff;}
.elementor-5 .elementor-element.elementor-element-005cfb7.elementor-view-framed .elementor-icon, .elementor-5 .elementor-element.elementor-element-005cfb7.elementor-view-default .elementor-icon svg {fill: #fff;}
.elementor-5 .elementor-element.elementor-element-005cfb7 .elementor-icon {font-size: 40px;}
.elementor-5 .elementor-element.elementor-element-005cfb7 .elementor-icon i, .elementor-5 .elementor-element.elementor-element-005cfb7 .elementor-icon svg {transform: rotate(0deg);}
body:not(.rtl) .elementor-5 .elementor-element.elementor-element-005cfb7 {left: 0px;}
body.rtl .elementor-5 .elementor-element.elementor-element-005cfb7 {right: 0px;}
.elementor-5 .elementor-element.elementor-element-005cfb7 {top: 81vh;}
.elementor-5 .elementor-element.elementor-element-e8fe0c2 .elementor-spacer-inner {height: 50px;}
.elementor-5 .elementor-element.elementor-element-f34ee9b {text-align: center;}
.elementor-5 .elementor-element.elementor-element-f34ee9b .elementor-heading-title {color: #0b0b0b;}
.elementor-5 .elementor-element.elementor-element-e00ace1 .elementor-spacer-inner {height: 50px;}
.elementor-5 .elementor-element.elementor-element-d2ad845 .elementor-image img {width: 50%;max-width: 100%;transition-duration: .5s;border-radius: 100% 100% 100% 100%;}
.elementor-5 .elementor-element.elementor-element-bd10659 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-75711db .elementor-text-editor {text-align: center;}
.elementor-5 .elementor-element.elementor-element-51d2972 .elementor-image img {width: 50%;max-width: 100%;transition-duration: .5s;border-radius: 100% 100% 100% 100%;}
.elementor-5 .elementor-element.elementor-element-ac1dc11 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-6fbc2b2 .elementor-text-editor {text-align: center;}
.elementor-5 .elementor-element.elementor-element-2b21da6 .elementor-image img {width: 50%;max-width: 100%;transition-duration: .5s;border-radius: 100% 100% 100% 100%;}
.elementor-5 .elementor-element.elementor-element-b800033 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-8ee4c03 .elementor-text-editor {text-align: center;}
.elementor-5 .elementor-element.elementor-element-62d5e5b .elementor-spacer-inner {height: 50px;}
.elementor-5 .elementor-element.elementor-element-ef399b9:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-5 .elementor-element.elementor-element-ef399b9 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #0b0b0b;}
.elementor-5 .elementor-element.elementor-element-ef399b9 > .elementor-element-populated {border-style: solid;border-width: 0px 0px 6px 0px;border-color: #fe0068;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-5 .elementor-element.elementor-element-ef399b9 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-5605f99 .elementor-spacer-inner {height: 30px;}
.elementor-5 .elementor-element.elementor-element-e74d517 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-e74d517 .elementor-heading-title {color: #fff;}
.elementor-5 .elementor-element.elementor-element-32a23dd .elementor-spacer-inner {height: 10px;}
.elementor-5 .elementor-element.elementor-element-5b9921a .elementor-image img {width: 50%;max-width: 100%;transition-duration: .5s;border-radius: 100% 100% 100% 100%;}
.elementor-5 .elementor-element.elementor-element-ba7d7c3 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-ba7d7c3 .elementor-heading-title {color: #fe0068;}
.elementor-5 .elementor-element.elementor-element-2f5f1f9 .elementor-text-editor {text-align: center;}
.elementor-5 .elementor-element.elementor-element-2f5f1f9 {color: #fff;}
.elementor-5 .elementor-element.elementor-element-abd2fd3 .elementor-image img {width: 50%;max-width: 100%;transition-duration: .5s;border-radius: 100% 100% 100% 100%;}
.elementor-5 .elementor-element.elementor-element-71106e7 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-71106e7 .elementor-heading-title {color: #fe0068;}
.elementor-5 .elementor-element.elementor-element-4f59522 .elementor-text-editor {text-align: center;}
.elementor-5 .elementor-element.elementor-element-4f59522 {color: #fff;}
.elementor-5 .elementor-element.elementor-element-0a95912 .elementor-image img {width: 50%;max-width: 100%;transition-duration: .5s;border-radius: 100% 100% 100% 100%;}
.elementor-5 .elementor-element.elementor-element-ba44cbd {text-align: center;}
.elementor-5 .elementor-element.elementor-element-ba44cbd .elementor-heading-title {color: #fe0068;}
.elementor-5 .elementor-element.elementor-element-031c196 .elementor-text-editor {text-align: center;}
.elementor-5 .elementor-element.elementor-element-031c196 {color: #fff;}
.elementor-5 .elementor-element.elementor-element-929ee88 .elementor-spacer-inner {height: 50px;}
.elementor-5 .elementor-element.elementor-element-209c489 .elementor-spacer-inner {height: 50px;}
.elementor-5 .elementor-element.elementor-element-eab4f52:not(.elementor-motion-effects-element-type-background), .elementor-5 .elementor-element.elementor-element-eab4f52 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #f0eeee;}
.elementor-5 .elementor-element.elementor-element-eab4f52 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 50px 0px 50px 0px;}
.elementor-5 .elementor-element.elementor-element-eab4f52 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-1038909 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-e623f80 .elementor-spacer-inner {height: 30px;}
.elementor-5 .elementor-element.elementor-element-a5d7ba4 .elementor-posts-container .elementor-post__thumbnail {padding-bottom: calc(.5 * 100%);}
.elementor-5 .elementor-element.elementor-element-a5d7ba4:after {content: "0.5";}
.elementor-5 .elementor-element.elementor-element-a5d7ba4 .elementor-post__meta-data span + span:before {content: "•";}
.elementor-5 .elementor-element.elementor-element-a5d7ba4 .elementor-posts-container {grid-column-gap: 30px;grid-row-gap: 35px;}
.elementor-msie .elementor-5 .elementor-element.elementor-element-a5d7ba4 .elementor-post {padding-right: calc(30px / 2);padding-left: calc(30px / 2);padding-bottom: 35px;}
.elementor-msie .elementor-5 .elementor-element.elementor-element-a5d7ba4 .elementor-posts-container {margin-left: calc(-30px / 2);margin-right: calc(-30px / 2);}
.elementor-5 .elementor-element.elementor-element-a5d7ba4 .elementor-post__card {border-width: 0px;}
.elementor-5 .elementor-element.elementor-element-a5d7ba4 .elementor-post__text {margin-top: 20px;}
.elementor-5 .elementor-element.elementor-element-a5d7ba4 .elementor-post__badge {right: 0;}
.elementor-5 .elementor-element.elementor-element-a5d7ba4 .elementor-post__card .elementor-post__badge {margin: 20px;}
.elementor-5 .elementor-element.elementor-element-a5d7ba4 .elementor-post__read-more {color: #fe0068;}
body.elementor-page-5 h1.entry-title, .elementor-page-title {display: none;}
@media (max-width:767px) {.elementor-5 .elementor-element.elementor-element-0672a77 {width: 50%;}
	.elementor-5 .elementor-element.elementor-element-738a833 {width: 50%;}
	.elementor-5 .elementor-element.elementor-element-0c59bee {width: 50%;}
	.elementor-5 .elementor-element.elementor-element-fa48758 {width: 50%;}
	.elementor-5 .elementor-element.elementor-element-9d93c0f {width: 50%;}
	.elementor-5 .elementor-element.elementor-element-5c6f05f {width: 50%;}
	.elementor-5 .elementor-element.elementor-element-a5d7ba4 .elementor-posts-container .elementor-post__thumbnail {padding-bottom: calc(.5 * 100%);}
	.elementor-5 .elementor-element.elementor-element-a5d7ba4:after {content: "0.5";}}