.elementor-157 .elementor-element.elementor-element-48cbc19 .elementor-spacer-inner {height: 50px;}
.elementor-157 .elementor-element.elementor-element-4e4fce5 {text-align: center;}
.elementor-157 .elementor-element.elementor-element-4e4fce5 .elementor-heading-title {color: #0b0b0b;font-weight: normal;}
.elementor-157 .elementor-element.elementor-element-7c239e2 {text-align: center;}
.elementor-157 .elementor-element.elementor-element-14d0a43 {text-align: left;}
.elementor-157 .elementor-element.elementor-element-14d0a43 .elementor-heading-title {color: #d4d4d4;font-family: "Open Sans",Sans-serif;font-weight: normal;}
.elementor-157 .elementor-element.elementor-element-14d0a43 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-157 .elementor-element.elementor-element-21eb20c .elementor-spacer-inner {height: 50px;}
.elementor-157 .elementor-element.elementor-element-15c35d4 > .elementor-container {max-width: 970px;}
.elementor-157 .elementor-element.elementor-element-00b93c2 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
.elementor-157 .elementor-element.elementor-element-00b93c2 > .elementor-element-populated {padding: 0% 0% 0% 0%;}
.elementor-157 .elementor-element.elementor-element-344d324 {text-align: left;color: #0b0b0b;font-weight: normal;line-height: 1.6em;}
.elementor-157 .elementor-element.elementor-global-243 .elementor-spacer-inner {height: 50px;}
@media (max-width:767px) {.elementor-157 .elementor-element.elementor-global-243 .elementor-spacer-inner {height: 5vh;}}
@media (min-width:768px) {.elementor-157 .elementor-element.elementor-element-00b93c2 {width: 100%;}}